<div class="reset-password" *ngIf="!isDialog">
  <div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h4>Enter New Password</h4>

      <div class="input-row">
        <label for="emial">Password</label>
        <input type="password" name="password" formControlName="password" />
      </div>

      <button>Get Reset Password Link</button>
    </form>

    <p>Already a have an account? <a [routerLink]="['/login']">Login</a></p>
  </div>
</div>

<app-dialog [dialogContent]="responseMsg" *ngIf="isDialog"></app-dialog>
